@charset "UTF-8";

@font-face {
    font-family: "rose" ;
    src: url("/fonte/RedRose-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "rose-bold";
    src: url("/fonte/RedRose-Bold.ttf")format("truetype");
}
@font-face {
    font-family: "Rubik-Regular";
    src: url(/fonte/Rubik-Regular.ttf)format("truetype");

}

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #f3f3f3;
}
:root{
    --cor1: #F7931A;
    --cor2: #F2A900;
    --cor3: #0056d2;
    --cor4: #4D4D4E;

    --logo: "rose-bold", sans-serif;
    --h1: arial, verdana, helvetica, sans-serif;
    --p: "Rubik-Regular", sans-serif;

}


header {
    background-color: white;
    display: inline;
    color: var(--cor1);
    font-family: var(--logo);
    grid-area: "head";
   
}

header h1::first-letter{
    color: var(--cor3);
}

.cabeca{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px ;
}
.button {
    text-decoration: none;
    text-align: center;
    float: right;
    font-family: var(--h1);
    border-radius: 10px;
    background-color: var(--cor3);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;

    cursor: pointer;
}

.button:hover{
    background-color: var(--cor1);
}

.imagem{
    background-image: url("imagem/bitcoin.jpg");
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
   
}
   


main .image > h1{
    text-align: center;
}


.apps{
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 1.2em;
    line-height: 1.6em;
    text-align: justify;
    display: flex;
    gap: 30px;
    list-style: none;
    display: flex;
    align-items: center;
    box-shadow: 4px 4px 4px 4px #5f9cf1dc;
    padding: 10px;
   }

   .save{
   flex-grow: 0;
   flex-shrink: 1.11;
   flex-basis: auto;
   }

   .buy{
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
   }

   @media (max-width: 600px) {
    .apps {
      display: flex;
      flex-wrap: wrap;
    }
}


.apps h1{
    padding: 10px;
    font-family: var(--logo);
    color: var(--cor1);
    text-align: center;
    font-size:2.3em;
    margin-bottom: 10px;
    
}

.apps p{
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #313131;
    font-size: 1.15em;
}

.apps p::selection{
    background-color: #a1bcea;
    color: white;
    
}

.apps a{
    text-decoration: none;
}

.buy > a#link, .save >a#link {
    text-decoration: none;
    font-family: var(--h1);
    margin: 50px;
    border-radius: 50px;
    display: grid;
    font-weight: bold; 
    text-align: center;
    font-size: large;
    font-family: var(--logo);
    font-size: 1.5em;

}



.buy a#link:link, .save a#link:link{
    color: var(--cor3);
}

.buy a#link:visited, .save a#link:visited{
    color: var(--cor3);
}

.buy a#link:active, .save a#link:active{
    color: var(--cor3);
    text-shadow: #0056d2;
}

.buy a#link:hover, .save a#link:hover{
    color: var(--cor1);

}


.video{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    flex: 1;
    background-color: #efeff1;
    box-shadow: 4px 4px 4px 4px #5f9cf1dc;
}

.video > iframe{
    margin: auto;
    padding-top: 50px;
 
}

.video > h2{
    text-align: center;
    color: var(--cor1);
    font-weight: bold;
    font-size: 1.6em;
    font-family: var(--h1);
}

footer{
    grid-area: footer;
    background-color: var(--cor4);
    color: white;
    padding: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    color: var(--cor2);
}

.indicator{
    position:relative;
    width:50px;
    height:50px;
    transform:rotate(45deg);
    margin: auto;
}

span{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    box-sizing:border-box;
    border:none;
    border-bottom:3px solid var(--cor1);
    border-right:3px solid var(--cor1);
    animation:animate 1s linear infinite;
}
    span:nth-child(1){
      top:-30px;
      left:-30px;
      animation-delay:0s;
    }
    
    span:nth-child(2){
      top:-15px;
      left:-15px;
      animation-delay:0.2s;
    }
    span:nth-child(3){
      top:0;
      left:0;
      animation-delay:0.4s;
    }
    span:nth-child(4){
      top:15px;
      left:15px;
      animation-delay:0.6s;
    }
    span:nth-child(5){
      top:30px;
      left:30px;
      animation-delay:0.8s;
    }

@keyframes animate{
0%{
  border-color: var(--cor1);
  transform:translate(0,0);
}
 20%{
  border-color: var(--cor1);
   transform:translate(15px,15px);
}
 20.1%,100%{
  border-color:var(--cor3);
}
}







